<!DOCTYPE html>
<html>
	<head><title>RailsForZombies</title></head>
	<body>
		<header>...</header>
		<%if flash[:notice] %>
			<div id= "notice"><%= flash[:notice]%></div>
		<%end%>
		<%= yield %>
	</body>
</html>